/*style go here*/

/*p {
    color: blue;
}*/

p {
  color: #666666;
    font-family: 'Playfair Display', serif;
}

h1 {
    font-family: 'Days One', sans-serif;
    color:orange;
    text-align: center;
}

nav ul li {
    display: block;
    border-top: 1px #79896d solid;
}

nav a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
}



.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}


nav ul {
    display: none;
}

h2{
   font-family:  'Manjari', sans-serif;
   color: black;
   text-align: center;
}

body {
  background-color: #ebe3c3;
}

#container{
    width: 95%;
    margin: 0 auto;
}

section{
  margin-left: 25px;
}




.caption {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: right;
}

#footer {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 0.8em;
    border-top: 1px solid black;
}

img {
  border: none;
}

@media screen and (min-width:599px){
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
}

.title {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-flow: column;
}

.authorbox img {
  /*visibility: hidden;*/
  display: none;
}

.pullquote {
  display: none;
}

article {
  margin-bottom: 0.7em;
  border-bottom: 1px solid #ccc;
}

article:last-of-type {
  border-bottom: none;
}

@media screen and (min-width: 450px) {

    nav ul {
        flex-flow: row;
        justify-content: space-between;
    }

}

@media screen and (min-width: 600px) {

    #container {
        width: 80%;
    }

    .authorbox img {
      display: block;
      width: 100%;
      margin-top: 0.5em;
    }

    .authorbox {
      width: 25%;
      max-width: 400px;
      float: left;
      margin-right: 20px;
    }
}

@media screen and (min-width: 800px) {
    .item1 {
      margin-right: auto;
    }

    nav ul li {
      margin: 5px;
    }

    .pullquote {
      display: block;
    }

}

@media screen and (min-width:1000px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap: 30px;
    grid-template-areas:
        "a b b"
        "c c e"
        ". d d";
  }

  .authorbox {
    width: 100%;
    grid-area: a;
  }

  .section1 {
    grid-area: b;
  }

  .image {
    grid-area: c;
  }

  .section2 {
    grid-area: d;
  }

  .pullquote {
    margin-top: 0;
    grid-area: c;
  }

  .section1 p:first-of-type, .section2 p:first-of-type {
    margin-top: 0;
  }

}

@media screen and (min-width:1200px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-gap: 30px;
    grid-template-areas:
        "a b b e"
        "c c c ."
        ". d d .";
  }
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    line-height: 1.45em;
}

#container {
    width: 95%;
    margin: 0 auto;
}

aside p {
    font-size: 0.8em;
    line-height: 1.2em;
}

.caption {
    font-size: 0.7em;
    text-align: right;
    margin-top: 0;
    font-style: italic;
}

.byline {
    font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
    font-size: 0.7em;
    margin-top: 0.5em;
    margin-bottom: 0;
    line-height: normal;
}

.dateline {
    font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
    font-size: 0.7em;
    color: #aaa;
    margin: 0;
    line-height: normal;
}

.pullquote {
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  font-style: italic;
  line-height: 1.25;
}


.title {
    margin-top: 1.5em;
    margin-bottom: 0.7em;
    border-bottom: 1px solid #ccc;
}
